#title {
	width:50%;
	margin:0 auto;
	border-style:groove;
	text-align:center;
}

#main {
	width:1200px;
	margin:0 auto 0 auto;
}

table {
	border-collapse: collapse;
	margin:0 auto;
	float:left;
}

th, td {
	color:white;
	border: 1px solid gray;
	padding: 5px;

} 

#image {
	width:30px;
	height:30px;
}

#currencytable {
	/*float:left;*/

}